/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


#chat {
	list-style: none;
	padding: 0;
	width: 300px;
	border-right: 1px solid #eee;

	li {
		padding: 5px;
		padding-left: 55px;
		padding-bottom: 15px;
		min-height: 50px;
		position: relative;
		border: 1px solid #eee;
		margin: 4px;
		overflow: hidden;

		.timestamp {
			color: #666;
			font-size: 0.7em;
			position: absolute;
			bottom: 2px;
			right: 2px;
		}

		.user {
			width: 40px;
			height: 40px;
			text-indent: -99999px;
			position: absolute;
			top: 4px;
			left: 4px;
			border: 1px solid #ccc;
			background-color: #ddd;
		}
	}
}
