// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#chat {

	list-style: none;
	padding: 0;
	width: 400px;

	li.anonymous {
		opacity: 0.2;
		&:hover {
			opacity: 0.8;
		}
	}

	li {
		padding: 5px;
		padding-top: 10px;
		padding-left: 60px;
		padding-bottom: 15px;
		min-height: 50px;
		position: relative;
		background-color: #f8f8f4;
		border: 1px solid #f0f0f0;
		margin: 4px 4px 20px 4px;
		overflow: hidden;

		.timestamp {
			color: #666;
			font-size: 0.7em;
			position: absolute;
			bottom: 4px;
			right: 6px;
		}

		.avatar {
			width: 40px;
			height: 40px;
			position: absolute;
			top: 10px;
			left: 6px;
			//border: 1px solid #ccc;
			background-color: #eee;
		}

		.user {
			display: block;
			font-size: 12px;
			font-weight: bold;
		}

		.message {
			font-size: 12px;
			text-shadow: 0 1px 1px #fff;
		}
	}
}
