// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chat {
	list-style: none;
	padding: 0;
	width: 300px;
	border-right: 1px solid #eee;

	li {
		padding: 5px;
		padding-left: 55px;
		padding-bottom: 15px;
		min-height: 50px;
		position: relative;
		border: 1px solid #eee;
		margin: 4px;
		overflow: hidden;

		.timestamp {
			color: #666;
			font-size: 0.7em;
			position: absolute;
			bottom: 2px;
			right: 2px;
		}

		.user {
			width: 40px;
			height: 40px;
			text-indent: -99999px;
			position: absolute;
			top: 4px;
			left: 4px;
			border: 1px solid #ccc;
			background-color: #ddd;
		}
	}
}
